.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 120px;
}

.profile img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: auto 9 / 16;
}

.profile_fallback {
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    aspect-ratio: auto 9 / 13.2;
}

.profile_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
    flex-basis: 36px;
}

.profile_info_character {
    font-size: 14px;
    color: #a0a0a0;
}